<h3>Index</h3>
<%= link_to "+", new_list_path, :class => "new-tudu" %>
<ul>
  <% @lists.each do |list| %>
    <li class="priority-<%= list.priority.downcase %>">
      <%= list.task %> | <span><%= list.priority %></span>
    </li>
  <% end %>
</ul>