/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* THE BASE + RESET */
  html, body {
    font-family: 'Open Sans', 'Helvetica', 'Arial', 'Sans-serif';
    font-size: 14px;
    line-height: 21px;
    margin: 0;
    padding: 0;
    width: 100%;
    font-smoothing: antialiased;
    -webkit-font-smoothing: antialiased;
  }

  body {
    background-color: #f2f2f2;
  }

  ul {
    margin: 0;
    padding: 0;
  }

  li {
    display: inline-block;
  }

  .hidden {
    display: none !important;
  }


/* THE HEADER */
  .main-header {
    height: 50px;
    width: 100%;
    background-color: #7FFFD4;
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0px;
    z-index: 999999;
  }

  .header-container {
    padding: 10px 20px;
  }

  .main-header .logo h1{
    padding: 0;
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
  }


/* THE MAIN */
  .main-container {
    margin-top: 50px;
    padding: 20px;
  }

/* THE TUDU LIST */
  .tudu-list {
    background-color: white;
  }

  .tudu-list li.tudu-list-task {
    border-bottom: 1px dotted #ccc;
    display: block;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }

  .tudu-task-options li {
    cursor: pointer;
    margin-right: 50px;
  }

