<!DOCTYPE html>
<html>
<head>
  <title>TuduList</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,700' rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="main-header">
    <h1>TuDu</h1>
  </div>
<%= yield %>

</body>
</html>
